.box-shadow, .paralaxMf, .service-box, .work-box, .card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.footerParalax {
  padding: 4rem 0 0 0;
}

.sectMt4 {
  margin-top: 4rem;
}

.bgImage {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .bgImage {
    background-attachment: scroll;
  }
}


.overlayMf {
  background-color: #0078ff;
}

.overlayMf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.boxShadowFull {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .boxShadowFull {
    padding: 3rem;
  }
}