.box-shadow, .paralaxMf, .service-box, .work-box, .card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.footerParalax {
  padding: 4rem 0 0 0;
}

.sectMt4 {
  margin-top: 4rem;
}

.bgImage {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .bgImage {
    background-attachment: scroll;
  }
}

.overlayMf {
  background-color: #0078ff;
}

.overlayMf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.boxShadowFull {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .boxShadowFull {
    padding: 3rem;
  }
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.footer-paralax {
  padding: 4rem 0 0 0;
}

.contactMf {
  margin-top: 4rem;
}

@media (min-width: 767px) {
  .contactMf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.titleBox2 {
  margin-bottom: 3rem;
}

.titleLeft {
  font-size: 2rem;
  position: relative;
}


/*------/ Ul resect /------*/
.ul-resect, .socials ul, .listIco, .blog-wrapper .post-meta ul, .box-comments .list-comments, .widget-sidebar .list-sidebar, .widget-tags ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.listIco {
  line-height: 2;
}

.listIco span {
  color: #0078ff;
  margin-right: 10px;
}

/*------/ Ico Circle /------*/
.icoCircle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  display: block;
}


/*------/ Socials /------*/
.socials {
  padding: 1.5rem 0;
}

.socials ul li {
  display: inline-block;
}

.socials .icoCircle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #0078ff;
  transition: all 500ms ease;
}

.socials .icoCircle:hover {
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
}